#MainContent {
  background-color: #FFFFFF;
}

#Tools {
  padding-top: 30px;
}

#CalenderArea {
  background-color: red;
  padding-top: 30px;
}

.nopadding{
  margin: 0 !important;
  padding: 0 !important;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
