/*.AddShift{
  height: 500px;
  width: 500px;
}
*/
#CloseBtn{
  background-color: lightgrey;
}
.Tooldiv{
  width: 100%;
}

.menuDiv{
  width: 70%;
  float: left;
}

.titleDiv{
  padding-left: 0px;
  color: darkGreen;
  font-size: 16px;
  display:inline;
  float: left;
  width: 20%
}

.monthTitle{
  float: left;
}

.yearTitle{
  padding-left: 10px;
  float:left;
}


#form-grid{
  display: grid;
  grid-template-areas:
    "a b"
    "a c"
    "d c"
    "e f";
}

#title{
 grid-area: b;
  align-self: center;
}

#description{
  grid-area: c;
}

#dayPicker{
  grid-area: a;

}

#startTime{
  grid-area: d;
  justify-self: center;
}

#endTime{
  grid-area: e;
  justify-self: center;
}

#submitDiv{
  /*align-self: end;
  */
  grid-area: f;
  align-self: center;

}


.labelLeft{
  padding-right: 5px;
  font-size: 15px;
  float:left;
}

.labelAbove{
  width: 100px;
  padding-top: 20px;
}

#labelDescr{
  float:left;
  margin-right: 1em;
}

#discInput{
  float:left;
  width: 50%;
  padding-left: 1em;
}

#titleInput{
  float:left;
  margin-left: 5em;
}

#submitButton{

}

#modalDialog{
  z-index: 10;
}
