
/*
  Css rules for the toolsBar
*/
.Tooldiv{
  width: 100%;
}

.menuDiv{
  width: 70%;
  float: right;
}

.titleDiv{
  padding-left: 6%;
  color: darkGreen;
  font-size: 16px;
  display:inline;
  float: left;
  width: 20%
}

.monthTitle{
  float: left;
}

.yearTitle{
  padding-left: 10px;
  float:left;
}

.weekButtons{
  margin-right: 10px
}


/*
 Rules for Addshift
*/

#CloseBtn{
  background-color: #393a35;
}

#form-grid{
  display: grid;
  grid-template-areas:
    "dayPicker description"
    "dayPicker description"
    "startTime description"
    "endTime submitDiv";
}


#description{
  grid-area: description;
  align-self: stretch;
}

#dayPicker{
  grid-area: dayPicker;

}

#startTime{
  grid-area: startTime;
  justify-self: center;
}

#endTime{
  grid-area: endTime;
  justify-self: center;
}

#submitDiv{
  grid-area: submitDiv;
  align-self: center;

}

#lableTitle{
  padding-top: 1.3em;
  font-size: 15px;
  float:left;
}

.labelAbove{
  width: 100px;
  padding-top: 20px;
}

#labelDesc{
  float:left;
  margin-right: 1em;
  margin-top: 1.5em;
  margin-left: 1em;
  font-size: 15px;
}

#descInput{
  float:left;
  width: 86%;
  height: 156px;
  padding-left: 1em;
}

#titleInput{
  margin-left: 1em;
  margin-top: 1em;
}

#helpBtn{
  float:left;
}

#modalDialog{
  z-index: 10;
}

#submitBtn{
    color: white;
    background-color: green;
  }



/*
  Media Queries for iphone 6s
*/

@media screen and (max-width:400px){
/*
Grid formation
*/
#form-grid{
  display: grid;
  grid-template-areas:
    "dayPicker description"
    "dayPicker description"
    "startTime endTime"
    "submitDiv submitDiv";
}

.customSubBtn{
  line-height: 0px
  }

/*
Edits both end and start picker for time
*/
  .startPicker, .endPicker{
    font-size: 12px;
    height: 22px;
    padding: 0px 16px;
  }


  #submitDiv{
    margin-top:20px;
    line-height: 0px;
  }



  #description{
    align-self:stretch;
  }

  #descInput{
    height: 135px;
    width: 118px;
  }

  #submitBtn{
    line-height: 3px;
  }

}
