.CalenderDay{
  border-right: solid LightGray 1px;
  border-top: solid LightGray 1px;
  border-bottom: solid LightGray 1px;
  height:620px;
  width: 14.2857%;
}

#Monday{
  border-left: solid LightGray 1px;
}

.WeekTitle{
  padding-top: 2px;
  height: 20px;
}

.show-grid{

  justify-content: center;
}

.Hours{

  text-align: left;
  height: 25px;
  border-top: solid 1px LightGray;
}
.info{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.Tooldiv {
  padding-top: 5px;
  height: 35px;
}

#start{

}
#middle{
  border-top: solid 0px;
  background-color: LightGreen ;
}
#end{
  border-top: 0px;
}
