
#mainPageWrapper{
}


.CalenderDay{
  border-right: solid LightGray 1px;
  border-top: solid LightGray 1px;
  border-bottom: solid LightGray 1px;
}


/*
  Calenderdays are now encapsuled in a grid
*/

#calenderDays{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  }

.CalenderDay{
  justify-self: stretch;
  align-self: stretch;
}


#daysContainer{
  width: 100%;
}

.timeTable{
  padding-top: 5px;
  border-right: 1px solid LightGrey;

}

#emptyHour{
  height:21px;
  border-right: 1px solid LightGrey;
}

.WeekTitle{
  height: 20px;
  color: #3E3F3B;
}

.show-grid{

  justify-content: center;
}

.Hours{

  text-align: left;
  height: 25px;
  border-top: solid 1px LightGray;
}
.info{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.Tooldiv {
  padding-top: 5px;
  height: 35px;
}

#start{
  color:#357533;
}

#middle{
  border-top: solid 0px;
  background-color: #9CF18F ;
}
#end{
  border-top: 0px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid LightGrey;
  width: 100%;

  margin-top: 10px;
  padding-top:10px;
}


#deleteBtn{
  margin-left: 5px;
}

#editBtn{
  margin-right: 5px;
}
